.box {
  width: 700px;
  height: 130px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}

.box-superior-text {
  color: rgb(209, 209, 209);
  font-size: 16px;
  font-weight: 500;
  line-height: 14px;
  word-wrap: break-word;
  margin-bottom: 6px;
}

%box-style {
  padding: 8px 12px;
  background: white;
  border-radius: 8px;
  border: 1px solid #CBD5E1;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  height: 100%;
}

%textarea-style {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #192524;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.box-internal-text {
  @extend %box-style;

  &:focus-within {
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(219, 24, 245, 0.4);
  }

  textarea {
    @extend %textarea-style;
    white-space: normal;
    word-break: break-word;
  }
}

.box-no-touch {
  @extend %box-style;

  textarea {
    @extend %textarea-style;
    cursor: default;
  }
}
